.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-width: 220px;
  align-items: center;
  width: fit-content;
}

.form > * {
  margin-bottom: 10px;
}

.linkedinButton {
  height: 40px;
  width: 220px;
}

@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirLTStd-Roman.otf);
}

.formElement {
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createRoomButton {
  margin-top: 50px;
}
