.room {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 20px; */
  width: 100%;
  overflow-x: hidden;
}

.room-invite {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.controls {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

#local-user video {
  padding: 5px;
  background-color: #5da5ec;
  color: white;
}

.participant {
  height: 100%;
  width: 100%;
  flex: 1 0 22%;
}

.videos-container {
  display: flex;
  width: 100%;
  column-gap: 0.2rem;
  flex-wrap: wrap;
}

video {
  width: 95%;
  padding: 5px;
  background: black;
}
