.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
}

.room-invite {
  display: flex;
  column-gap: 1rem;
}

.videos-container {
  width: 80%;
  height: 90vh;
  display: flex;
}

.controls {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
