.room {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
}

.room-invite {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.controls {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

#local-user video {
  background-color: #5da5ec;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.participant {
  height: 100%;
  width: 100%;
}
