#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  margin-top: -60px;
}

.emphasis {
  color: #2f77d3;
}

video {
  width: 100%;
  border-width: 0px;
  height: auto;
  object-fit: fill;
}
#bgvid {
  position: fixed;
  left: 0px;
  outline: none;
}

/*Typewriter animation code adapted from https://codesandbox.io/s/typewriter-css-text-animation-ot3cc*/
#title {
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 11.45em;
  border-right: 2px solid #030303d8;
  white-space: nowrap;
  animation: typewriter 3s steps(35) 1s 1 normal both,
    cursor 400ms steps(5) infinite normal;
}

#slogan {
  animation: fade-in 1s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.action-btn {
  animation: fade-in 1s ease-in;
  opacity: 0;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11.45em;
  }
}

@keyframes cursor {
  from {
    border-right-color: #030303d8;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirLTStd-Roman.otf);
}
