.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* This is the generated class for the whiteboard */
.c-jOyZnp {
  left: 0;
}